body{
    text-align:center;
    background-color: #afdde5;
    color:rgb(205, 208, 255);
}
.general{
    text-align:center;
    color:rgb(255, 255, 255);
    text-shadow: rgb(51, 104, 107);
    text-decoration-line: overline;

}
form{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
    border-style: groove;
    border-color: rgb(00, 31, 35);
    padding-bottom: 10px;
    padding-top: 10px;
}
.column{
    color: rgb(51, 104, 107);
    font-size: 16px;
}